@media print {
    .page-break {
        display: block;
        page-break-before: always;
    }

    #login-buttons {
        display: none;
    }
}

.spacer-small {
    clear: both;
    min-height: 5px;
}

.spacer-medium {
    clear: both;
    min-height: 20px;
}

body {
    font-family: sans-serif;
}

#contract {
    font-family: georgia;
    width: 8.5in;
}

#sig {
    height: 50px;
}

pre {
    white-space: pre-wrap;
}
