template(name='contract')
  +with contract
    #contract
      h2 {{ title }}

      p This Agreement is made this <u>{{ day_helper date }}</u> day of <u>{{ month_helper date }}</u>, <u>{{ year_helper date }}</u>, between <u>{{ your_company }}</u>, having its principal place of business at <u>{{ your_address }}</u>, and <u>{{ client_name }}</u> having their principal place of business at <u>{{ client_address }}</u>. In consideration of <u>{{ client_name }}</u> retaining <u>{{ your_company }}</u> to conduct an independent service for <u>{{ client_name }}</u>, it is agreed as follows:
  
      ol
        li 
          h4 Compensation and Terms
        
          +if your_resp
            p
              <u>{{ your_company }}</u> will perform the following jobs:
              pre {{ your_resp }}
  
          +if client_resp
            p
              <u>{{ client_name }}</u> will provide the following:
              pre {{ client_resp }}
  
          +if time_detail
            p
              spane Time Detail:
              pre {{ time_detail }}

          +if fee_or_rate
            p
              span The following fees shall apply:
              ul
                +if rate
                  li $<u>{{ rate }}</u>/hr for development to be paid within two weeks of invoice date
      
                +if fee
                  li $<u>{{ fee }}</u> flat fee
  
                  +if deposit_amount
                    li $<u>{{ deposit_amount }}</u> deposit before work begins

          p Payments must be made within two (2) weeks of invoice date, at which point a late fee of 1.5% of invoice amount will be applied. An additional late fee of 1.5% of invoice amount will be applied each month after the due date.
    
        li
          h4 Confidentiality
          p This Agreement creates a confidential relationship between <u>{{ your_company }}</u> and <u>{{ client_name }}</u>. Information concerning <u>{{ your_company }}</u>'s and/or <u>{{ client_name }}</u>'s business affairs, vendors, finances, properties, methods of operation, computer programs, employees, documentation, and other such information whether written, oral, or otherwise, is confidential in nature. <u>{{ your_company }}</u>, <u>{{ client_name }}</u> and employees of both will adhere fully to this confidentiality agreement.
    
        li
          h4 Governing Law
          p This agreement shall be binding upon the heirs and assigns of the parties and shall be governed by and interpreted according to the laws of the State of Massachusetts.
    
        li
          h4 Liability
          p <u>{{ your_company }}</u> shall not be held responsible to <u>{{ client_name }}</u> or any third party for damages, including lost profits, lost savings, or other incidental, consequential, or special damages arising out of the operation of or inability to operate this project, even if <u>{{ your_company }}</u> has been advised of the possibilities of such damages.
    
        li
          h4 Entire Agreement
          p This agreement represents the full understanding between the parties and there is no other agreement, oral or written, between them, and that this agreement may not be modified without an agreement in writing signed by the party to be charged. This contract is in effect until written notification of termination from either party.
    
        li
          h4 Single Points of Contact
          p <u>{{ your_company }}</u>'s single point of contact will be <u>{{ your_contact }}</u> (<u>{{ your_email }}</u>). <u>{{ client_name }}</u>'s single point of contact will be <u>{{ client_contact }}</u> (<u>{{ client_email }}</u>).  All correspondence concerning the project will be handled between <u>{{ your_contact }}</u> and <u>{{ client_contact }}</u>.  All correspondence sent from other employees of the companies will be ignored and forwarded to the respective single point of contact.
    
        +if ownership
          li
            h4 Source Files and Copyrights
            p <u>{{ your_company }}</u> will retain all source files including their copyrights. <u>{{ your_company }}</u> will grant <u>{{ client_name }}</u> a non-exclusive license for the source files.
  
        +if timeout
          li
            h4 Agreement Timeout
            p <u>{{ client_name }}</u> is responsible for supplying all needed content to <u>{{ your_company }}</u> by <u>{{ timeout }}</u>.

        .page-break

        +if post_support
          li
            h4 Post-production Support
            p <u>{{ your_company }}</u> will provide thirty (30) days of support after final deployment for major undiscovered issues. This clause is void if the source code is modified by any person other than an employee of <u>{{ your_company }}</u>.
    
      h3 ACCEPTED AND AGREED:
      
      .col-xs-6 <u>{{ your_company }}</u>
      .col-xs-6 <u>{{ client_name }}</u>
      .spacer-medium
      .spacer-medium
        
      .col-xs-1 BY:
      .col-xs-5
        img#sig(src='/sig.png')
      .col-xs-6 
        div BY: ______________________
        .spacer-small
        div (signature)
      .spacer-medium
      
      .col-xs-6 <u>{{ your_contact }}</u>
      .col-xs-6 <u>{{ client_contact }}</u>
      .spacer-medium
    
      .col-xs-6 Date: <u>{{ pretty_date date }}</u>
      .col-xs-6 Date: ____________________
