template(name='form')
  +with contract
    .form-horizontal
      .form-group
        label.col-md-2.control-label Date
        .col-md-6
          input#date.form-control.input-sm.datepicker(value="{{ pretty_date date }}")
  
      .form-group
        label.col-md-2.control-label Title
        .col-md-6
          input#title.form-control.input-sm(value="{{ title }}")
  
      .form-group
        label.col-md-2.control-label Your company
        .col-md-6
          input#your_company.form-control.input-sm(value="{{ your_company }}")
  
      .form-group
        label.col-md-2.control-label Your address
        .col-md-6
          input#your_address.form-control.input-sm(value="{{ your_address }}")
  
      .form-group
        label.col-md-2.control-label Your contact
        .col-md-6
          input#your_contact.form-control.input-sm(value="{{ your_contact }}")
  
      .form-group
        label.col-md-2.control-label Your email
        .col-md-6
          input#your_email.form-control.input-sm(value="{{ your_email }}")
  
      .form-group
        label.col-md-2.control-label Client name
        .col-md-6
          input#client_name.form-control.input-sm(value="{{ client_name }}")
  
      .form-group
        label.col-md-2.control-label Client address
        .col-md-6
          input#client_address.form-control.input-sm(value="{{ client_address }}")
  
      .form-group
        label.col-md-2.control-label Client contact
        .col-md-6
          input#client_contact.form-control.input-sm(value="{{ client_contact }}")
  
      .form-group
        label.col-md-2.control-label Client email
        .col-md-6
          input#client_email.form-control.input-sm(value="{{ client_email }}")
  
      .form-group
        label.col-md-2.control-label Client responsibilities
        .col-md-6
          textarea#client_resp.form-control.input-sm(rows='4') {{ client_resp }}
  
      .form-group
        label.col-md-2.control-label Your responsibilities
        .col-md-6
          textarea#your_resp.form-control.input-sm(rows='4') {{ your_resp }}
  
      .form-group
        label.col-md-2.control-label Time detail
        .col-md-6
          textarea#time_detail.form-control.input-sm(rows='4') {{ time_detail }}
  
      .form-group
        label.col-md-2.control-label Rate
        .col-md-3
          input#rate.form-control.input-sm(value="{{ rate }}")
  
        label.col-md-1.control-label Fee
        .col-md-2
          input#fee.form-control.input-sm(value="{{ fee }}")
  
      .form-group
        label.col-md-2.control-label Timeout date
        .col-md-3
          input#timeout.form-control.input-sm.datepicker(value="{{ pretty_date timeout }}")
  
        label.col-md-2.control-label Retain ownership
        .col-md-2
          .checkbox 
            input#ownership(type='checkbox')

    .btn-group
      button#save.btn.btn-primary Save
      a#load.btn.btn-default(href='/load') Load
      button#clear.btn.btn-danger Clear
      button#autofill.btn.btn-default Autofill
      
      +if _id
        a#generate.btn.btn-default(href='/contract/{{ _id }}/generate') Generate
