template(name='load')
  .row
    a#back.btn.btn-default(href='/') Back

  +each contracts
    .row(id="{{ _id }}")
      .col-md-3 {{ _id }}
      .col-md-2 {{ date }}
      .col-md-2 {{ title }}
      .col-md-3
        .btn-group
          a.load.btn.btn-primary(href='/contract/{{ _id }}') Load
          button.copy.btn.btn-default Copy
          button.delete.btn.btn-danger Delete
